*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
}

/* Inicio Header */
nav{
    background-color: #121212;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a{
    text-decoration: none;
    padding: 20px;
    color: #DDDDDD;
}

.nav-list a:hover{
    color: #FFFFFF;
}
/* Fim Header */

/* Inicio Main */
.main{
    width: 100%;
    background-color: #181818;
    height: calc(100vh -  80px);
    background-image: url("images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1{
    color: #FFFFFF;
    font-size: 54px;
}

.main p{
    color: #1e96FC;
    font-size: 24px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 34px;
}

.action{
    cursor: pointer;
    background-color: #FFFFFF;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}

.main{
    text-decoration: none;
    color: #181818;
}
/* Fim Main */

/* Inicio about */
.about{
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div{
    max-width: 50%;
    padding-right: 40px;
}

.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}

.about img{
    max-width: 450px;
    border-radius: 8px;
}

/* Fim About */